extends ../layout

block content
  .container
    .row
      .article-content
        .article-meta
          h2.title #{article.title}
          .author-name By #{article.authorId}
          .statistic
            .publish-date.statistic-item
              span.glyphicon.glyphicon-time
              | 发布于#{moment(article.meta.publishAt).format('YYYY年MM月DD日')}
            .read-count.statistic-item
              span.glyphicon.glyphicon-stats
              | 共被阅读了#{article.pv}次
        .article-body
          p #{article.content}
      hr
      .article-comment.pannel.pannel-default
          .pannel-heading
            h3 评论区
          .pannel-body
            p 这里样式后面再做
